<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_product.user_id %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @user_product.product_category_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @user_product.product_id %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @user_product.order_date %>
</p>

<%= link_to 'Edit', edit_user_product_path(@user_product) %> |
<%= link_to 'Back', user_products_path %>
